
body {
	background-color: #f2f5d6;
}

h2 {
	font-family: 'Francois One', sans-serif;
	font-size: 21px;
	line-height: 1.2em;
	font-weight: 400;
	color: #555555;
}

hr {
	  border-top: 1px solid #bbbbbb;
}

img {
	width: 100%;
	padding-bottom: 15px;
}


/*  Side bar styles 
-------------------------------- */


.blog-sidebar {
	padding-left: 30px;
	padding-right: 30px;
}	

.sidebar-module p {
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 2px;
	line-height: 1.7em;
}


.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
    outline: 3px dashed #a1c6cc;
}

#sign-up-header {
	color: #4ca299;
    text-shadow: 1px 1px 2px #64ebf0;
	text-align: center;
	border-bottom: 1px solid #bbbbbb;
	border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
	line-height: 1.7em;
	
}

#mce-EMAIL {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
	
/*  Nav bar styles
--------------------------------------------*/

.navbar ul.dropdown-menu li.dropdown-header {
	color: #4ca299;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 1.7em;
	font-size: 16px;
}

.navbar ul.dropdown-menu {
	text-align: center;
	font-size: 16px;
	font-weight: 800;
}

#facebook {
	color: blue;
}
#facebook:hover {
	color: #ffffff;
	background-color: #aaaaaa;
}

#twitter {
	color: lightblue;
}
#twitter:hover {
	color: #ffffff;
	background-color: #aaaaaa;
}

#instagram {
	color: brown;
}
#instagram:hover {
	color: #ffffff;
	background-color: #aaaaaa;
}

#pintrest {
	color: red;
}
#pintrest:hover {
	color: #ffffff;
	background-color: #aaaaaa;
}

#stumble {
	color: orange;
}
#stumble:hover {
	color: #ffffff;
	background-color: #aaaaaa;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #ffffff;
  background-color: #4ca299;
}


.navbar-default {
    background-color: #a1c6cc;
    border-color: #bbbbbb;
}

.navbar-nav>li>a {
	font-weight: 700;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #ffffff;
  background-color: #4ca299;
}

.navbar-nav>li>a:hover {
	border-bottom: 3px solid #4ca299;
	padding-bottom: 12px;
}

.navbar-brand {
	font-size: 175%;
}

a.navbar-brand i.fa {
	color: #555555;
	padding-right: 5px;
}	

.blog-post-meta a {
	text-transform: capitalize;
	font-size: 12px;
}

.btn-group-xs>.btn, .btn-xs {
	padding: 2px 3px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	letter-spacing: 0px;
	text-transform: lowercase;
	background-color: #4ca299;
	margin-right: 15px;
	margin-bottom:10px;
}

.btn-group-xs>.btn, .btn-xs:hover {
	background-color: #3d827a;
} 

.btn-default {
    color: #ffffff;
    background-color: #4ca299;
    border-color: #bbbbbb;
    margin-top: 15px;
}

.btn-default:hover {
    color: #ffffff;
    background-color: #4ca299;
    border-color: #bbbbbb;
    margin-top: 15px;
}

#main {
	padding-top: 80px;
}

/* Post Box Styles
---------------------------------------*/
#posts-box {
    padding: 0;
    border: 3px solid #A1C6CC;
    border-top: 0;
    border-radius: 3px;
    margin-top: 30px;
}
#posts-box h4 {
    font-size: 16px;
    text-transform: uppercase;
    background-color: #A1C6CC;
    color: #555;
    padding: 12px;
    text-align: center;
    font-weight: 600;
    font-family: 'Open Sans';
    letter-spacing: 2px;
    margin: 0;
}
#posts-box ol {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
#posts-box li {
    font-size: 16px;
    padding: 12px;
    border-bottom: 3px solid #A1C6CC;
    min-height: 60px;
    line-height: 20px;
}
#posts-box li:last-child {
    border-bottom: 0;
}
#posts-box a {
    color: #555;
}


/*  Food Coma Styles
--------------------------------------*/

#coma_wrap1 {
	display: inline-block;
}

#coma_logo1 {
	font-family: 'Diplomata', cursive;
	color: #4ca299;
	font-size: 100%;
	letter-spacing: 3px;
	text-shadow: 1px 2px 2px #aaaaaa;
	}

#coma_logo2 {
	font-family: 'Diplomata', cursive;
	color: #4ca299;
	letter-spacing: 3px;
	text-shadow: 1px 2px 2px #aaaaaa;
	}	


/* thank you style
----------------------------------*/

.thanx {
	font-size: 145%;
	text-align: center;
}

/* Jarga76Studio Styles
--------------------------------------------*/

#jargan {       /* Logo Jargan    Studio*/
	font-family: 'Lobster', cursive;
	color: #c2c2d6;
    text-shadow: 4px 4px 3px #333300;
	font-variant: small-caps;
	padding: 0px 0px;
	margin:0px 0px;
}

#jargan1 {			/* Logo 76 */
    font-family: 'Sancreek', cursive;
	color: #ba7a19;
	font-size: 105%;
	font-outline: .5px solid purple;
	text-shadow: 4px 4px 3px #333300;
	padding: 0px 0px;
	margin:0px 0px;
}

#jargan2 {     /* copyright */
    font-size: 5%;
	padding: 0px 0px;
	margin:0px 0px;
}

      
#jargan_wrap {
	background-color: #337ab7;
    border: 1px solid #2952cc;
}

	

/*  Responsive style
------------------------------------------------------*/

@media (max-width: 992px) {
	  .navbar-nav>li>a {
	  font-weight: 700;
	  font-size: 14px;
}
	.navbar-brand {
     font-size: 150%;
}
} 


